<style>
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 50%;
    padding: 50px;
    text-align: center;
  }

  img {
    border-radius: 50%;
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    text-align: center;
  }
</style>
<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">

        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">Sobre a FIIZ TAX<span class="panel-subtitle">
                  A FIIZ TAX nasceu da necessidade de uma ferramenta de cálculo de impostos
            aplicada ao mercado de ativos de renda variável no Brasil. As regras de imposto de renda de cada ativo variam de
            acordo com fatores que muitas vezes não são claros para a grande maioria dos investidores. Nós da FIIZ TAX
            lançamos uma ferramente que se integra com as diversas corretoras do país e calcula quanto imposto você precisará
            pagar para todas as suas transações. Contamos com contadores e especialistas do mercado financeiro para oferecer total
          seguranca para você. </span>
          </div>
          <div class="panel-heading panel-heading-divider">Email:
            <a href="mailto:fiiztax@gmail.com<?Subject=Contato%20Website" target="_top">fiiztax@gmail.com</a>
          </div>

          <div class="container">
            <div class="strip2">
              <div class="container">
                <div class="align-center">
                  <ul class="social-icon">
                    <li><a href="https://www.instagram.com/fiiztax/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/FIIZ-TAX-105727944309896/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/fiiz-tax/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/fiiztax" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCAPVchkr7vsvCriEVWw89Mw?view_as=subscriber" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="mailto:fiiztax@gmail.com" target="_blank" class="dribbble"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
