
<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">

        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">Emissão de Boleto DARF<span class="panel-subtitle">
                 O Documento de Arrecadação de Receitas Federais (DARF) é um boleto para a dedução e pagamento dos impostos em operações realizadas na bolsa B3
            em ações, opções, fundos imobiliários, contratos futuros, etc. Ele é utilizado no recolhimento
            de impostos para as pessoas físicas e jurídicas que fazem parte do tipo
            SIMPLES (Sistema Integrado de Pagamento de Impostos e Contribuições das Microempresas e
            Empresas de Pequeno Porte). A emissão do DARF pode ser realizada diretamente no aplicativo online da Receita Federal.
              Para isso, escolha a opção “Acesso Direto”. Em seguida, clique em “Sicalcweb”. O código da operação
                  é 6015.</span>
          </div>
            <button  class="btn2 btn-space btn-primary" onclick="window.location.href = 'http://servicos.receita.fazenda.gov.br/Servicos/sicalcweb/default.asp?TipTributo=1&FormaPagto=1';"><i class="icon icon-left mdi mdi-file-document-box"></i> Emitir DARF</button>
        </div>

      </div>
    </div>
  </div>
</div>
